body{
    font-size: 14px;
}

img .logo {
    height: 70px;
}

.escolhaMercado{
    display: none;
}

.vejaPreco{
    display: none;

}

.titulo{
    max-width: 70%;
}

.btnNext_hide{
    opacity: 0;
}

.containt ul{
    padding: inherit;
}
